* {
    box-sizing: border-box;
    font-family: "Lucida Console", Courier, monospace;
}


body {
    margin: 0;
    padding: 0;
    background-image: url("/images/greengradient.jpg");
    background-attachment: fixed;
    background-size: cover;

}

h1 {
    text-align: center;
    font-size: 28px;
    margin: 5vw;
    color: #4c4c4c;
}

h2 {
    color: #4c4c4c;
    font-size: 24px;

}

h4 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}


#splash_forside {
    background-image: url("images/legumes.jpg");
    width: 100%;
    height: 70vh;
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
}

.topnav {
    overflow: hidden;
    width: 100%;
}

.border_header {
    border: 1px solid #5f5f5f;
    width: 90%;
    margin: 0 auto;
}

.topnav a:first-child {
    background-image: url(/ourlogo/cutewise.png);
    background-size: cover;
    width: 16vw;
    height: 12vw;
    margin: 1vw;
}

.topnav a:first-child:hover {
    opacity: 0.7;

}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    z-index: 3;
}


.topnav .icon {
    display: none;
}

#forside_grid {
    flex-wrap: nowrap;
    display: flex;
}

#forside_grid img {
    width: 15vw;
    height: 15vw;
}

.box_wrapper {
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;

}

.pic_container {
    position: relative;
    cursor: pointer;
    margin: 3vw 0 2vw 3vw;
}

.pic_container img {
    display: block;

}

.pic_container:hover {
    transform: scale(1.03);
    transition: 0.4s ease-in-out;
}

.pic_text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    /* Black see-through */
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
footer {
    margin-top: 8vw;
    width: 100%;
    background-color: #87efe6;
    color: white;

}

#footer_info {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
}

footer a {
    color: white;
    font-size: 14px;
}
.kontakt {
    flex-basis: 100px;
    margin: 1.5vw;
}

.fa:hover {
    opacity: 0.6;
}

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        background-color: #ffcd00;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        background-color: #ffcd00;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111111;
    }

    .active {
        background-color: #4caf50;
    }
