<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gode råd</title>
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<h1>Her på siden kan du gode råd om at undgå madspild!</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi viverra turpis sed nibh fringilla consectetur.
    Sed sed lacus eget arcu imperdiet auctor. Pellentesque sodales non enim eu blandit. Nunc eget venenatis velit.
    Nullam quis nunc luctus, consectetur nisi eget, mollis mauris. Proin scelerisque maximus dui, vitae congue
    lacus vulputate id. Curabitur eget hendrerit purus, egestas dictum sem. In id volutpat quam. Suspendisse turpis
    justo, lacinia vel elit eget, finibus volutpat lectus. Etiam tincidunt urna et odio vestibulum molestie.
</p>

<section id="forside_grid">

    <div class="box_wrapper">

        <div class="pic_container">
            <a href="/https://www.arla.dk/opskrifter/temaer/rester/">
                <img class="pic1_img" src="../static/images/rester.jpeg" alt="gode retter">
                <div class="pic_text">Gode retter med rester</div>
            </a>
        </div>
    </div>

</section>


<p>
    <iframe style="max-width: 100%; margin-top: 30px; justify-content: center;" src="https://www.youtube.com/embed/B6mi-ZFCprs"
            width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen">

    </iframe>
</p>


<footer>
    <div id="footer_info">
        <div class="kontakt">
            <p><b>Telephone</b></p>
            <a href="tel:+45 70 12 34 56 ">+45 70 12 34 56</a>
        </div>

        <div class="kontakt">
            <p><b>Email</b></p>
            <a href="mailto:wizeguys@mob.dk">wizeguys@mob.dk</a>
        </div>

        <div class="kontakt">
            <p><b>Social media</b></p>
            <a href="https://www.facebook.com/MadspildDK" aria-label="facebook" class="fa fa-facebook"></a>


        </div>
    </div>

</footer>
</body>
</html>