<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Om madspild</title>
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

<header id="myTopnav">
    <div>

        <div class="topnav">
            <a href="/"></a>

        </div>

    </div>

</header>

<div id="navbar">

    <a href="/goderaad">Gode råd</a>
    <a href="/reducer_dit_madspild">Reducer dit madspild</a>
    <a href="/numbers">nogle lyse punkter</a>
    <a href="/home" >Startside</a>
    <li style="float:right"><a class="active" href="/omos">Om os</a></li>
</div>
<h1>Her på siden kan du få gode råd til at undgå madspild!</h1>
<p style="margin: 35px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi viverra turpis sed nibh fringilla consectetur.
    Sed sed lacus eget arcu imperdiet auctor. Pellentesque sodales non enim eu blandit. Nunc eget venenatis velit.
    Nullam quis nunc luctus, consectetur nisi eget, mollis mauris. Proin scelerisque maximus dui, vitae congue
    lacus vulputate id. Curabitur eget hendrerit purus, egestas dictum sem. In id volutpat quam. Suspendisse turpis
    justo, lacinia vel elit eget, finibus volutpat lectus. Etiam tincidunt urna et odio vestibulum molestie.
</p>

<section id="forside_grid">
</section>

<footer>
    <div id="footer_info">
        <div class="kontakt">
            <p><b>Telephone</b></p>
            <a href="tel:+45 70 12 34 56 ">+45 70 12 34 56</a>
        </div>

        <div class="kontakt">
            <p><b>Email</b></p>
            <a href="mailto:wizeguys@mob.dk">wizeguys@mob.dk</a>
        </div>

    </div>

</footer>

<script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>
</body>
</html>