<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hvad kan du gøre?</title>
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<header id="myTopnav">
    <div>

        <div class="topnav">
            <a href="/"></a>


        </div>
        <div id="border_header">
            <hr>
        </div>
    </div>

</header>
<ul>
    <li><a href="/advices">Good to know</a></li>
    <li><a href="/advice2">Good to know too</a></li>
    <li><a href="/numbers">Some relevants numbers</a></li>

    <li style="float:right"><a class="active" href="/omos">About Us</a></li>
</ul>
<div class="container content" style=" margin: 35px;">
    <div class="wrapper">

        <div class="content-left">


            <h1>Hvad kan du gøre</h1>

            <h2>Når du er hjemme i køkkenet:</h2>
            <p><b>Dit køleskab, dine køkkenskabe og din fryser gemmer på guld</b> – hvis du husker at udnytte al maden. På et år kan din husholdning spare over 7.000 kr. Og om måneden kan du spare op til 4 timer i madindkøb. Mindre madspild betyder, at du sparer dine penge, sparer din tid og samtidigt sparer miljøbelastningen.</p>
            <p><b>Gør som supermarkederne – hav et flow i dit køleskab, din fryser og dine køkkenskabe, så de ældre og de åbne fødevarer stilles forrest</b> og helst på en hylde i din øjenhøjde, så du hele tiden er opmærksom på maden og du husker at bruge maden op først.</p>
            <p><b>Dine rester skal gemmes, men ikke glemmes.</b> Hav central plads til dine rester og indtænk brug af resterne i al din madlavning, uanset om det er hverdagsmad, gæstebud eller en påske/julefrokost. Gem dine rester et centralt sted i køleskabet, så du hele tiden husker dem og er opmærksom på at få dem brugt i nye retter eller i madpakken.</p>
            <p><img class="madspild-img" src="https://stopspildafmad.org/images/madspild/madspild-3.jpg"></p>
            <p><b>Restemad er gratis mad</b> – hav en ny holdning til din restemad. Restemad er ikke en straf – restemad er bonusmad: når du husker at bruge din restemad, sparer du både en ekstra tur til supermarkedet, du sparer penge på dit madbudget og du gør miljøet en god tjeneste. En rest laks kan blive til en laksesalat dagen efter. En rest kylling kan komme i en omelet dagen efter. En rest fløde skal i fryseren og bruges til supper eller gryderetter.</p>
            <p><b>Lav ”Reste Tapas” eller ”Resteraunt” hver søndag</b>, hvor du husker at ”spise op” i dit køleskab og bruger alle de gode rester. Hver måned skal du gøre det samme med din fryser og udnytte de gode rester, som du har gemt. Husk også at spise op i dit køleskab og fryseren inden Julen og Påsken, for at gøre plads til den gode overskudsmad, som bliver skabt under helligdagene.</p>
            <p><b>Anret restemaden lækkert</b> – især børnene synes, at restemad er kedeligt at spise. Vær kreativ og udnyt resterne i nye retter – men husk også at anrette dem delikat – både på tallerkenen og i madpakken. Det skal se indbydende ud.</p>
            <p><b>Dit køleskab er ikke din skraldespand</b> – madspildsfælden lurer, når du har et overproppet køleskab og du ikke ved, hvad der gemmer sig bagved. Giv derfor mere plads til maden i køleskabet og hav et overskueligt køleskabsindhold. Det kolde luft i køleskabet har det lettere ved at cirkulere og holde maden kold, når dit køleskab ikke er overproppet. Hold god hygiejne og husk med jævne mellemrum at afrime og rense køleskabet og fryseren.</p>
            <p><b>Afskaf ”Hospicehylden” i dit køleskab</b> – det er en hylde hvor du gemmer al din glemte mad, som ligeså langsomt er i gang med at dø. Brud den dårlige vane og husk udnytte maden i god tid inden den bliver ubrugelig.</p>
            <p><b>Lav ikke ”UFO’er” i din fryser</b> – ”UFO” er et Uidentificeret Frosset Objekt i din fryser, som består af gamle glemte madrester, som du alligevel ender med at smide ud om et stykke tid. Ca. hver 2. dansker har ”UFO’er” i sin fryser – og for mange er fryseren blevet den sidste stop inden skraldespanden. Frys maden ned i mindre portioner, hav altid et system for at notere hvad du har frosset ned og hvornår er maden frosset ned. Og husk jævnligt at ”spise op” i din fryser.</p>
            <p><b>Lær at opbevare maden rigtigt</b> – æbler, pærer, bananer og appelsiner skal helst ikke i berøring med hinanden, ellers modnes de hurtigere. Tomater, avocado, rugbrød, kartofler, bananer og citrusfrugter skal opbevares udenfor køleskabet. Broccoli, asparges, blomkål, champignoner, forårsløg, grønne bønner, gulerødder (uden top), salathoved, ingefær, kål, løg, persille, porrer, ruccola, salat, babyleaves og spinat opbevares i en plastpose i køleskabet. Brug kun plastemballage, som er egnet til fødevarer.</p>
            <p><b>Hav styr på datomærkningen</b> – ”sidste anvendelsesdato” bruges på fersk kød, fersk fisk, fersk kylling, mm. – maden skal helst ikke spises efter denne datos udløb. Imens ”mindst holdbar til”/”bedst før” bruges på pasta, ris, knækbrød, chokolade, mysli, mm. – du kan sagtens spise maden efter denne datos udløb, er du i tvivl, så lugt og smag på maden. Med andre ord betyder ”bedst før” ikke ”værst efter”.</p>
            <p><b>Glem frygten for at der ikke er nok mad</b> – især til en hverdagsmiddag, gæstebud eller en jule/påskefrokost har man tendens til at lave for meget mad. Børnefamilier laver for eks. konstant 30% for meget mad. Husk derfor at beregne portionsstørrelser inden du laver mad. Et voksent menneske kan spise 500-800 gr. mad inkl. brød.</p>
            <p><b>Brug mindre størrelse tallerkener og fade</b> – de seneste 20 år har tallerkenstørrelsen vokset – og det kan også ses på befolkningens taljemål. Ved at bruge mindre størrelse tallerkener og fade på middagsbordet sørger du for at hverken du eller din skraldespand overspiser. Jo større tallerken er, jo mere er du tilbøjelig til at fylde den op med mad.</p>
            <p><img class="madspild-img" src="https://stopspildafmad.org/images/madspild/madspild-4.jpg"></p>
            <p><b>Mere er ikke altid lig med bedre – kvalitet frem for kvantitet.</b> Overvej om hvorvidt du kan gøre plads til at købe og tilberede mad af lidt bedre kvalitet. Undersøgelser viser at hvis man køber for eks. økologisk mad, som er lidt dyrere end konventionel, er man også tilbøjelig til at smide mindre ud. Hellere mindre, men i bedre kvalitet – frem for meget og af dårlig kvalitet.</p>
            <p><b>Maden skal ikke stå og svede på bordet</b> – lad være med at stille al mad frem på bordet på een gang – stil maden gradvist ind i takt med at maden bliver spist. Der er ingen grund til at maden står fremme på bordet i flere timer og bliver dårlig. Husk dette til både hverdagsmiddag, gæstebud eller en jule/påskefrokost. Maden skal helst stå fremme på bordet i max. to timer, hvis du vil genbruge maden senere. Noget af maden skal i køleskabet hurtigst muligt, for eks. rejer og sild. Resterne skal i hele taget hurtigt i køleskabet, da det er ikke godt for maden at stå fremme på bordet i flere timer.</p>
            <p><b>Bland ikke tingene sammen når du gemmer madresterne</b> – mange retter har det bedre af ikke at blive blandet sammen, for så kan de gemmes bedre. Anret salat og rejer hver for sig, spaghetti og kødsovs hver for sig, mm. Derved kan de bedre gemmes hver for sig.</p>
            <p><b>Red maden</b> – det meste af overskudsmaden og resterne kan fryses. Rester af retter kan portionsopdeles og fryses. Brød kan skæres i skiver og fryses. Selv fløde, krydderurter, overskydende grøntsager fra grøntsagsskuffen, overskydende frugt fra frugtskålen, ost, m.fl. kan portionsopdeles og fryses. Men husk også at holde orden i dine rester, notér datoerne og husk at få dem brugt. Portionsopdeling er vigtigt – så du ikke ender smed at fryse 2 liter chili con carne på én gang.</p>
            <p><b>Genopvarmning af maden er vigtigt</b>, hvor du for eks. har en rest gryderet. Den skal genopvarmes på min. 75 grader. Rester af middagsretter o.lign. kan holde sig i køleskabet i max. 3-4 dage.</p>
            <p><img class="madspild-img" src="https://stopspildafmad.org/images/madspild/madspild-2.jpg"></p>
            <p><b>Brug grøntsagsrester til at koge fond</b> – da alle former for løgskaller, gulerodstoppe, hvidløgsskaller, vaskede kartoffelskræller, vaskede selleriskræller, porretoppe, tomat- og agurkstumper, mm. kan bruges til at koge fond på.</p>
            <p><b>Hav et arsenal af plastikbøtter</b> i dit køkken til at gemme dine gode rester. Et godt tip også er at have en rulle fryseposer liggende direkte i dit køleskab. Derved bliver du automatisk mindet om at tage dem i brug og gemme maden.</p>
            <p><b>Spis ikke mad med mug på</b> – og husk at selvom der er mug på den ene side af brødet, skal hele brødet desværre ud. Hvis noget af maden er smittet, kan mugsporer sprede sig til hele maden – og det kan man hverken lugte eller smage. Så desværre, ud med hele maden i dette tilfælde.</p>
            <p>Før en madspildsdagbog og registrér hvor meget mad du smider ud. Du bliver automatisk opmærksom på at smide mindre ud samt vil du lære af dine erfaringer, især efter en stor middag, gæstebud, julefrokost eller påskefrokost og blive klogere på det.</p>
            <p><b>Del maden med naboen</b> hvis du har fået lavet for meget mad. Hav en madfællesskab i opgangen. Giv efter en stor middag hjemmelavede doggybags med hjem til dine gæster. Har du egne æble- og pæretræer i baghaven og har ikke tid til at plukke dem, så brug sociale medier til at komme i kontakt med dine venner og få dem til at komme og plukke. Og så får du også gladere naboer.</p>
            <p><b>Fra mad til mad – gendyrk maden</b>. Gendyrk trenden er i gang, og du kan gendyrke meget direkte i din vindueskarm. Du kan bl.a. gendyrke: selleri, hvidløg, forårsløg, kål, salat, krydderurter, fennikel, koriander, gulerødder, porrer og meget mere.</p>
            <p><b>Søg viden og inspiration på nettet</b> på bl.a. hjemmesiderne <a href="http://www.stopspildafmad.dk">http://www.stopspildafmad.dk</a> og <a href="http://www.madspild.net">http://www.madspild.net</a> og lån bogen ”Stop spild af mad – en kogebog med mere” af Selina Juul som kan lånes på alle landets biblioteker.</p>
            <p><b>Brug Apps mod madspild og spar penge</b> – der er mange gode Apps mod madspild at hente, bl.a.: Holdbarhed, For Resten, Too Good To Go, YourLocal, SwipeShark, Red Maden, Foopla og Sanker.</p>
            <h3>Når du er i supermarkedet:</h3>
            <p><b>Planlægning</b> er et godt våben i kampen mod madspild. Inden du køber ind, kan du få lavet en madplan, indkøbsliste eller det allernemmeste trick: Tag din smartphone og tag et billede af dit køleskabsindhold. Så ved du hvad du i forvejen har derhjemme, når du i ulvetimen står i butikken og køber ind til aftensmaden.</p>
            <p><b>Køb aldrig ind på tom mave</b> – snup en banan eller en bolle, inden du skal handle. Er du sulten og køber du ind på tom mave, risikerer du at købe mere, end nu har brug for.</p>
            <p><b>Styr din indre hamster</b> – husk at overhamstring, især i jule- og påsketiden, får os til at købe meget mere ind, end vi reelt skal bruge. Pga. den ændrede lukkelov holder mange butikker åbent, også i helligdagene. At købe mad i net-butikker kan også være en god idé.</p>
            <p><img class="madspild-img" src="https://stopspildafmad.org/images/madspild/madspild-1.jpg"></p>
            <p><b>Vælg mindre størrelse indkøbskurve og indkøbsvogne</b> – en stor indkøbsvogn eller indkøbskurv får dig automatisk til at købe mere ind, end du skal bruge. Har du lyst til at købe kun dét du har brug for, så vælg en mindre størrelse indkøbskurv eller indkøbsvogn. Det er også en god idé at bære indkøbskurven i hånden, i stedet for at trække den efter dig på hjul.</p>
            <p><b>Gå efter datovarer</b> hvis du alligevel skal spise maden i dag. Flere butikker tilbyder i dag datovarer til nedsatte priser. Gå efter datovarerne, hvis du skal bruge maden samme dag – så hjælper du også butikkerne med at mindske madspild og du kan samtidigt spare penge.</p>
            <p><b>Tag den forreste mælk i køledisken</b>, hvis du alligevel skal bruge mælken samme dag.</p>
            <p><b>Mængderabatter er en madspildsfælde</b> – brug mængderabatterne meget fornuftigt og kun hvis du er sikker på, at du får brugt al maden, for ellers er det dine penge ud af vinduet.</p>
            <p><b>Gå efter de ”skæve” frugt og grøntsager og vælg for eks. single bananer</b>, for ellers ender de med at blive smidt ud. En skæv agurk eller en krum gulerod smager ligeså godt som de lige. Har du taget et net med ti appelsiner, hvor en af dem er dårlig, så spørg, om du ikke bare kan betale for de ni.</p>
            <p><b>Køb mad til flere dage</b> – køb bevidst mad til flere dage hav en plan for at trylle resterne af for eks. gårsdagens laks om til spændende laksesalat. Det er ren stafetmad.</p>
            <p><b>Sørg for hurtigt at komme hjem med indkøbene</b> – maden i indkøbsposer, som er stået længe fremme i en varm bil i sommerheden kan udvikle sig til en bakteriebombe.</p>
            <h3>Når du er på café, restaurant eller i en kantine:</h3>
            <p><b>Buffet er en madspildsfælde</b> – bestil hellere enkelte retter (a la carte), i stedet for at kaste dig ud i en buffet.</p>
            <p><b>Tag alt hvad du kan spise – men husk at spise alt, hvad du tager</b>. Hvis der alligevel er kun mulighed for buffet og ikke andet, er det en god idé at starte med små smagsprøver. Første gang du går op til buffeten, kan du tage små smagsprøver på tallerkenen, derved ved du næste gang, hvilke retter du helst foretrækker at spise.</p>
            <p><b>Brug små tallerkener ved buffeten</b>. Fyld lidt mindre på tallerkenen, når du er ved buffeten – det er tilladt at gå flere gange. Og husk at tage en mindre størrelse tallerken, derved levner du mindre og du er heller ikke i fare for at overspise.</p>
            <p><b>Spørg tjeneren om størrelsen på portionen inden du bestiller a la carte</b> – hvis du er usikker på om du kan spise hele retten som du er ved at bestille, så spørg tjeneren om rettens størrelse.</p>
            <p><b>Bestil to forretter i stedet for en forret og en hovedret</b>, hvis du kan fornemme at du ikke kan spise både en forret og en hovedret.</p>
            <p><b>Bed om en doggybag</b> – flere og flere danske spisesteder har bl.a. pga. indsatsen fra Stop Spild Af Mad indført doggybags, så man kan tage maden med hjem – og tjenerne tilbyder dem gerne, sålænge man husker at spørge dem.</p>
            <h3>Red maden:</h3>
            <p><b>Gør en god gerning og vær med til at donere overskudsmad til udsatte</b> – opfordr dine lokale fødevarevirksomheder, supermarkeder, bagerier og andre til at donere deres gode overskudsfødevarer til hjemløse og socialt udsatte. Husk på at det er et absolut must, at overskudsmaden skal være frisk, korrekt opbevaret og korrekt nedkølet – og skal doneres helt gratis. Her finder du adresser og kontaktinformation på væresteder, herberger, kvindehjem, forsorgshjem for de socialt udsatte samt andre hjælpeorganisationer: <a href="http://www.stopspildafmad.dk/madtilhjemloese.html" target="_blank" rel="noopener noreferrer">http://www.stopspildafmad.dk/madtilhjemloese.html</a></p>
            <p><img class="madspild-img" src="https://stopspildafmad.org/images/madspild/madspild-5.jpg"></p>


        </div>


        </div>


        <div style="clear: both;"></div>

    </div>
</div>
<footer>
    <div id="footer_info">
        <div class="kontakt">
            <p><b>Telephone</b></p>
            <a href="tel:+45 70 12 34 56 ">+45 70 12 34 56</a>
        </div>

        <div class="kontakt">
            <p><b>Email</b></p>
            <a href="mailto:wizeguys@mob.dk">wizeguys@mob.dk</a>
        </div>

        <div class="kontakt">
            <p><b>Social media</b></p>
            <a href="https://www.facebook.com/MadspildDK" aria-label="facebook" class="fa fa-facebook"></a>


        </div>
    </div>

</footer>
</body>
</html>