<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madspil opgave</title>
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<header id="myTopnav">
    <div>
        <div class="topnav">
            <a href="/"></a>

            <a href="/advices">Good to know</a>
            <a href="/advice2">Good to know too</a>
            <a href="/numbers">Some relevants numbers</a>
            <a href="/omos">About Us</a>
            <a href="javascript:void(0);" class="icon" onclick="burgerMenu()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div id="border_header">
            <hr>
        </div>
    </div>

</header>

<div id="welcome_text">
    <h1>What you always wanted to know about food waste!</h1>
</div>

<section id="splash_forside"></section>

<h1 class="overskrift">Here some text if you want</h1>

<p>
    Where does it come from?
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
    classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
    Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
    Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word
    in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections
    1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
    Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during
    the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a
    line in section 1.10.32.

    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced
    in their exact original form, accompanied by English versions from the 1914 translation by H.
    Rackham.
</p>

<section id="forside_grid">

    <div class="box_wrapper">

        <div class="pic_container">
            <a href="/index">
                <img class="pic1_img" src="/ourlogo/home.jpg" alt="advice">
                <div class="pic_text">Home</div>
            </a>
        </div>


        <div class="pic_container">
            <a href="/advice2">
                <img class="pic2_img" src="/images/moretips.jpg" alt="advice2">
                <div class="pic_text">About</div>
            </a>
        </div>
    </div>

    <div class="box_wrapper">
        <div class="pic_container">
            <a href="/numbers">
                <img class="pic3_img" src="/images/stats.jpg" alt="stats">
                <div class="pic_text">Stats</div>
            </a>
        </div>

        <div class="pic_container">
            <a href="/omos">
                <img class="pic4_img" src="/images/about-us.png" alt="about us">
                <div class="pic_text">Contact</div>
            </a>
        </div>
    </div>
</section>



<footer>
    <div id="footer_info">
        <div class="kontakt">
            <p><b>Telephone</b></p>
            <a href="tel:+45 70 12 34 56 ">+45 70 12 34 56</a>
        </div>

        <div class="kontakt">
            <p><b>Email</b></p>
            <a href="mailto:wizeguys@mob.dk">wizeguys@mob.dk</a>
        </div>

        <div class="kontakt">
            <p><b>Social media</b></p>
            <a href="https://www.facebook.com/MadspildDK" aria-label="facebook" class="fa fa-facebook"></a>


        </div>
    </div>

</footer>
</body>
</html>