<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>nogle_tal</title>
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
<header id="myTopnav">
    <div>
        <div class="topnav">
            <a href="/"></a>


        </div>

    </div>

</header>

<div id="welcome_text">
    <h1>Some relevant numbers:</h1>
</div>
<ul>
    <li><a href="/reducer_dit_madspild">Reducer dit madspild</a></li>
    <li><a href="/goderaad">Gode råd</a></li>
    <li><a href="/home">Hjem</a></li>

    <li style="float:right"><a class="active" href="/omos">About Us</a></li>
</ul>

<h1 class="overskrift">Some facts about food waste:</h1>

<p>
    What is Lorem Ipsum?
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
<p>Some info:</p>
<br>
<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
    quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
    numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim
    ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
    ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
    nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
<p>
</p>
<br>
<br>
<section id="forside_grid">

    <div class="box_wrapper">

        <div class="pic_container">
            <a href="/reducer_dit_madspild">
                <img class="pic1_img" src="/images/tips.png" alt="reducer dit madspild">
                <div class="pic_text">Reducer dit madspild</div>
            </a>
        </div>

        <div class="pic_container">
            <a href="/goderaad">
                <img class="pic2_img" src="/images/moretips.jpg" alt="gode råd">
                <div class="pic_text">Gode råd</div>
            </a>
        </div>
    </div>

    <div class="box_wrapper">
        <div class="pic_container">
            <a href="/home">
                <img class="pic1_img" src="/images/home.png" alt="home">
                <div class="pic_text">Hjem</div>
            </a>
        </div>


        <div class="pic_container">
            <a href="/omos">
                <img class="pic4_img" src="/images/about-us.png" alt="Om os">
                <div class="pic_text">Kontakt os</div>
            </a>
        </div>
    </div>
</section>



<footer>
    <div id="footer_info">
        <div class="kontakt">
            <p><b>Telephone</b></p>
            <a href="tel:+45 70 12 34 56 ">+45 70 12 34 56</a>
        </div>

        <div class="kontakt">
            <p><b>Email</b></p>
            <a href="mailto:wizeguys@mob.dk">wizeguys@mob.dk</a>
        </div>

    </div>


</footer>
</body>
</html>

ja