<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>nogle_tal</title>
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
<header id="myTopnav">
    <div>
        <div class="topnav">
            <a href="/"></a>


        </div>
        <div>
            <h1>
                Vi spilder mindre mad
            </h1>
            18-04-2018
            <div>
                Affald
            </div>
            <p>
                Ny rapport fra Miljøstyrelsen viser forbedring i madspildet hos
                danskerne.
            </p>
            <figure>
                <img
                        src="https://mst.dk/media/148214/1920madspildCOLOURBOX30827833.jpg?width=678"
                        alt=""
                />
                <figcaption>
                    Foto: Colourbox
                </figcaption>
            </figure>
            <p>
                14.000 tons madspild. Så meget har danskerne reduceret deres madspild
                med fra 2011 til 2017. Men selv om danskerne bredt set er godt i gang
                med at begrænse madspild, er der potentiale for at komme endnu længere.
            </p>
            <p>
                Det viser en ny rapport fra Miljøstyrelsen om en gennemgang af
                madspildet i en stor bunke skraldeposer fra danske husstande i 2017.
                Rapporten viser, at mens der er et fald på hele 24 procent i madspildet
                per person i etageboliger, er der ikke noget fald i enfamiliehuse.
                <br/>
                <br/>
                <a
                        href="http://mst.dk/service/publikationer/publikationsarkiv/2018/apr/kortlaegning-af-sammensaetningen-af-dagrenovation-og-kildesorteret-organisk-affald-fra-husholdninger/"
                >
                    Læs rapporten om madspild
                </a>
                <br/>
            </p>
            <p>
                Undersøgelsen har alene kortlagt udviklingen i madspildet, og ikke
                grundene til, hvorfor det er sket. Samlet set er der et gennemsnitligt
                fald i madspild per person på 8 procent. Det vil sige, at der var
                261.000 tons madspild i 2011 til 247.000 tons i 2017.
            </p>
            <h2>
                Økonomi motiverer til at bekæmpe madspild
            </h2>
            <p>
                Samtidig viser en rapport, som Aarhus Universitet har udarbejdet for
                Fødevarestyrelsen, at danskerne er blevet opmærksomme på udfordringen.
                85 procent af danskerne er blevet gjort bekendt med
                madspildsproblematikken i løbet af det seneste år.
                <br/>
                <br/>
                Derudover peger rapporten på, at motivation til at reducere madspild
                hænger sammen med, hvor meget husholdningen kan spare på budgettet –
                hele 66 procent af danskerne mener, at muligheden for at spare penge
                vil gøre, at de formindsker madspildet. Herudover ser 54 procent af
                danskerne madspild som et problem for miljøet.
                <br/>
                <br/>
                Rapporten viser desuden, at de færreste laver madplaner, som ellers er
                en effektiv måde at undgå at købe for meget på.
            </p>
            <p>
                <a
                        href="https://mandrillapp.com/track/click/30039028/www.foedevarestyrelsen.dk?p=eyJzIjoibGMxMFV0TWdreWYzWFJUQnB4QlcwbnQxOGV3IiwidiI6MSwicCI6IntcInVcIjozMDAzOTAyOCxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5mb2VkZXZhcmVzdHlyZWxzZW4uZGtcXFwvU2l0ZUNvbGxlY3Rpb25Eb2N1bWVudHNcXFwvRm9kZXItJTIwb2clMjBmb2VkZXZhcmVzaWtrZXJoZWRcXFwvTWFkc3BpbGRcXFwvTWFkc3BpbGRzcmFwcG9ydC5wZGZcIixcImlkXCI6XCI0YzVjMjM2NWVmYjc0MWI0OTkwMGY4OWFjOWYxMjNlYlwiLFwidXJsX2lkc1wiOltcIjU2YjEwY2U3NmQ0YWExYWVkZWE1NzNlNThlMzFmYzI2ZmU4NTBmZTZcIl19In0"
                        title="Linket åbner en anden hjemmeside i et nyt vindue"
                >
                    Rapporten ”Consumer food waste in Denmark”
                </a>
                er udarbejdet af MAPP Centret ved Aarhus Universitet og udgivet af DCA
                – Nationalt Center for Fødevarer og Jordbrug som en del af Miljø- og
                Fødevareministeriet aftale med Aarhus Universitet om forskningsbaseret
                myndighedsbetjening.
            </p>
        </div>
        <div>
            <div>
                <div id="ContentPlaceHolderDefault_mainGrid_ctl01">
                    <div>
                        <h2>
                            Fakta: Danskernes madspild
                        </h2>
                        <p>
                            I 2011 gennemførte Miljøstyrelsen for første gang en
                            kortlægning af madspildet i husholdningerne. Nu gør en ny
                            kortlægning det muligt at sige noget om udviklingen i
                            madspildet fra husholdningerne ved at sammenligne tal fra
                            2011 med tal fra 2017:
                        </p>
                        <table border="0">
                            <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <strong> </strong>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <strong>2011</strong>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <strong>2017</strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        Årligt madspild i husholdningerne i tons
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        261.000 tons
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        247.000 tons
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        Madspild i kg. pr. person pr. uge –
                                        enfamiliehus
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        0,81 kg
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        0,83 kg
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        Madspild i kg. pr. person pr. uge –
                                        etagebolig
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        1,14 kg
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        0,86 kg
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p>
                            Madspild defineres som madaffald, der kunne være spist men
                            ikke blev det – f.eks. rester, der smides ud. Andet
                            madaffald som f.eks. kartoffelskræller eller æbleskrog
                            tælles ikke med.
                        </p>
                        <p>
                            <em>Kilde: Miljøstyrelsen</em>
                        </p>
                        <p>
                            <strong>
                                Opmærksomhed på konsekvenserne af madspild:
                                <br/>
                                <br/>
                            </strong>
                            Fødevarestyrelsen har fået udarbejdet en rapport fra Aarhus
                            Universitet om danskernes holdning til madspild. Rapporten
                            viser, at 54 % af danskerne mener, at madspild er en
                            udfordring for miljøet, og at 66 % af danskerne føler
                            størst incitament til reduktion af madspild, hvis det kan
                            spare dem penge på husholdningsbudgettet.
                        </p>
                        <table border="0">
                            <tbody>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <p>
                                        Nej
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        Hverken eller
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        Ja
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        Madspild er et problem for miljøet
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        6 %
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        40 %
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        54 %
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        Min hustand er opmærksomme på, hvor mange
                                        penge, som vi bruger ugentligt på mad, som
                                        bliver smidt ud
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        18 %
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        37 %
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        45 %
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p>
                            <strong>Incitament til at reducere madspild:</strong>
                        </p>
                        <table border="0">
                            <tbody>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <p>
                                        Ikke vigtigt
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        Hverken eller
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        Vigtigt
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        Muligheden for at spare penge
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        5 %
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        29 %
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        66 %
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        Ønsker at føle sig kompetent i køkkenet
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        24 %
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        44 %
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        32 %
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        Ønsker at holde orden i køkkenet
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        6 %
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        40 %
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        54 %
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        Skyldfølelse ift. tiden, der bliver brugt
                                        på indkøb, lagring og forberedelse af mad,
                                        der så bliver smidt ud
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        9%
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        38 %
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        53 %
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        Forbedring miljøet
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        7 %
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        34 %
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        59 %
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        Egne værdier
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        4 %
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        37 %
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        59 %
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p>
                            <em>Kilde: Aarhus Universitet</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

<div id="welcome_text">

</div>
<div id="navbar">

    <a href="/goderaad">Gode Råd</a>
    <a href="/reducer_dit_madspild">Reducer dit madspild</a>
    <a href="/home">Startside</a>
    <li style="float:right"><a class="active" href="/omos">Om os</a></li>
</div>

<h1 class="overskrift">Some facts about food waste:</h1>

<p>
    What is Lorem Ipsum?
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
<p>Some info:</p>
<br>
<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
    quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
    numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim
    ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
    ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
    nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
<p>
</p>
<br>
<br>
<section id="forside_grid">


</section>



<footer>
    <div id="footer_info">
        <div class="kontakt">
            <p><b>Telephone</b></p>
            <a href="tel:+45 70 12 34 56 ">+45 70 12 34 56</a>
        </div>

        <div class="kontakt">
            <p><b>Email</b></p>
            <a href="mailto:wizeguys@mob.dk">wizeguys@mob.dk</a>
        </div>

    </div>


</footer>

<script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>
</body>
</html>
