<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Om madspild</title>
    <link rel="stylesheet" href="teststyle.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>
<body>

<header id="myTopnav">
    <div>

        <div class="topnav">
            <a href="/"></a>
        </div>
    </div>

</header>

<div id="navbar">
    <a href="/home" >Startside</a>
    <a href="/goderaad">Gode råd</a>
    <a href="/reducer_dit_madspild">Reducer dit madspild</a>
    <a href="/numbers">nogle lyse punkter</a>

    <li style="float:right"><a class="active" href="/omos">Om os</a></li>
</div>
<div>
    <h1>
        Vi spilder mindre mad
    </h1>

    <div>
        Affald
    </div>
    <p>
        Ny rapport fra Miljøstyrelsen viser forbedring i madspildet hos
        danskerne.
    </p>
    <figure>
        <img
                src="https://mst.dk/media/148214/1920madspildCOLOURBOX30827833.jpg?width=678"
                alt="køkken"

        />
        <figcaption>
            Foto: Colourbox
        </figcaption>
    </figure>
    <p>
        14.000 tons madspild. Så meget har danskerne reduceret deres madspild
        med fra 2011 til 2017. Men selv om danskerne bredt set er godt i gang
        med at begrænse madspild, er der potentiale for at komme endnu længere.
    </p>
    <p>
        Det viser en ny rapport fra Miljøstyrelsen om en gennemgang af
        madspildet i en stor bunke skraldeposer fra danske husstande i 2017.
        Rapporten viser, at mens der er et fald på hele 24 procent i madspildet
        per person i etageboliger, er der ikke noget fald i enfamiliehuse.
        <br/>
        <br/>
        <a
                href="http://mst.dk/service/publikationer/publikationsarkiv/2018/apr/kortlaegning-af-sammensaetningen-af-dagrenovation-og-kildesorteret-organisk-affald-fra-husholdninger/"
        >
            Læs rapporten om madspild
        </a>
        <br/>
    </p>
    <p>
        Undersøgelsen har alene kortlagt udviklingen i madspildet, og ikke
        grundene til, hvorfor det er sket. Samlet set er der et gennemsnitligt
        fald i madspild per person på 8 procent. Det vil sige, at der var
        261.000 tons madspild i 2011 til 247.000 tons i 2017.
    </p>
    <h2>
        Økonomi motiverer til at bekæmpe madspild
    </h2>
    <p>
        Samtidig viser en rapport, som Aarhus Universitet har udarbejdet for
        Fødevarestyrelsen, at danskerne er blevet opmærksomme på udfordringen.
        85 procent af danskerne er blevet gjort bekendt med
        madspildsproblematikken i løbet af det seneste år.
        <br/>
        <br/>
        Derudover peger rapporten på, at motivation til at reducere madspild
        hænger sammen med, hvor meget husholdningen kan spare på budgettet –
        hele 66 procent af danskerne mener, at muligheden for at spare penge
        vil gøre, at de formindsker madspildet. Herudover ser 54 procent af
        danskerne madspild som et problem for miljøet.
        <br/>
        <br/>
        Rapporten viser desuden, at de færreste laver madplaner, som ellers er
        en effektiv måde at undgå at købe for meget på.
    </p>
    <p>
        <a
                href="https://mandrillapp.com/track/click/30039028/www.foedevarestyrelsen.dk?p=eyJzIjoibGMxMFV0TWdreWYzWFJUQnB4QlcwbnQxOGV3IiwidiI6MSwicCI6IntcInVcIjozMDAzOTAyOCxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5mb2VkZXZhcmVzdHlyZWxzZW4uZGtcXFwvU2l0ZUNvbGxlY3Rpb25Eb2N1bWVudHNcXFwvRm9kZXItJTIwb2clMjBmb2VkZXZhcmVzaWtrZXJoZWRcXFwvTWFkc3BpbGRcXFwvTWFkc3BpbGRzcmFwcG9ydC5wZGZcIixcImlkXCI6XCI0YzVjMjM2NWVmYjc0MWI0OTkwMGY4OWFjOWYxMjNlYlwiLFwidXJsX2lkc1wiOltcIjU2YjEwY2U3NmQ0YWExYWVkZWE1NzNlNThlMzFmYzI2ZmU4NTBmZTZcIl19In0"
                title="Linket åbner en anden hjemmeside i et nyt vindue"
        >
            Rapporten ”Consumer food waste in Denmark”
        </a>
        er udarbejdet af MAPP Centret ved Aarhus Universitet og udgivet af DCA
        – Nationalt Center for Fødevarer og Jordbrug som en del af Miljø- og
        Fødevareministeriet aftale med Aarhus Universitet om forskningsbaseret
        myndighedsbetjening.
    </p>
</div>


<div>
                <h2>
                    Fakta: Danskernes madspild
                </h2>
                <p>
                    I 2011 gennemførte Miljøstyrelsen for første gang en
                    kortlægning af madspildet i husholdningerne. Nu gør en ny
                    kortlægning det muligt at sige noget om udviklingen i
                    madspildet fra husholdningerne ved at sammenligne tal fra
                    2011 med tal fra 2017:
                </p>
                <table>
                    <tr>
                        <th>Husholdningernes madspild</th>
                        <th>2011</th>
                        <th>2017</th>

                    </tr>
                    <tr>
                        <td>Årligt madspild i husholdningerne i tons</td>
                        <td>261.000 tons</td>
                        <td>247.000 tons</td>
                    </tr>
                    <tr>
                        <td>Madspild i kg. per person per uge – enfamiliehus</td>
                        <td>0,81 kg</td>
                        <td>0,83 kg</td>
                    </tr>
                    <tr>
                        <td>Madspild i kg. pr. person pr. uge – etagebolig</td>
                        <td>1,14 kg</td>
                        <td> 0,86 kg</td>
                    </tr>


                </table>
                <p>
                    Madspild defineres som madaffald, der kunne være spist men
                    ikke blev det – f.eks. rester, der smides ud. Andet
                    madaffald som f.eks. kartoffelskræller eller æbleskrog
                    tælles ikke med.
                </p>
                <p>
                    <em>Kilde: Miljøstyrelsen</em>
                </p>
                <p>
                    <strong>
                        Opmærksomhed på konsekvenserne af madspild:
                        <br/>
                        <br/>
                    </strong>
                    Fødevarestyrelsen har fået udarbejdet en rapport fra Aarhus
                    Universitet om danskernes holdning til madspild. Rapporten
                    viser, at 54 % af danskerne mener, at madspild er en
                    udfordring for miljøet, og at 66 % af danskerne føler
                    størst incitament til reduktion af madspild, hvis det kan
                    spare dem penge på husholdningsbudgettet.
                </p>
                <table>
                    <tr>
                        <th>Hvad synes om at:</th>
                        <th>Nej</th>
                        <th>Hverken eller</th>
                        <th>ja</th>

                    </tr>
                    <tr>
                        <td>Madspild er et problem for miljøet</td>
                        <td>6 %</td>
                        <td>40 %</td>
                        <td>54 %</td>
                    </tr>
                    <tr>
                        <td>Min hustand er opmærksomme på,
                            hvor mange penge, som vi bruger ugentligt på mad, som bliver smidt ud</td>
                        <td>18 %</td>
                        <td>37 %</td>
                        <td>45 %</td>
                    </tr>

                </table>
                <p align="center">
                    <strong>Incitament til at reducere madspild:</strong>
                </p>
                <table>
                    <tr>
                        <th>Hvad skal der til:</th>
                        <th>Ikke vigtigt</th>
                        <th>Hverken eller</th>
                        <th>Vigtigt</th>

                    </tr>
                    <tr>
                        <td>Muligheden for at spare penge</td>
                        <td>5 %</td>
                        <td>29 %</td>
                        <td>66 %</td>
                    </tr>
                    <tr>
                        <td>Ønsker at føle sig kompetent i køkkenet</td>
                        <td>24 %</td>
                        <td>44 %</td>
                        <td>32 %</td>
                    </tr>

                    <tr>
                        <td>Ønsker at holde orden i køkkenet</td>
                        <td>6 %</td>
                        <td>40 %</td>
                        <td>54 %</td>
                    </tr>
                    <tr>
                        <td>Skyldfølelse ift. tiden, der bliver brugt på indkøb, lagring og forberedelse af mad, der så bliver smidt ud</td>
                        <td>9 %</td>
                        <td>38 %</td>
                        <td>53 %</td>
                    </tr>
                    <tr>
                        <td>Forbedring miljøet</td>
                        <td>7 %</td>
                        <td>34 %</td>
                        <td>59 %</td>
                    </tr>
                    <tr>
                        <td>Egne værdier</td>
                        <td>4 %</td>
                        <td>37 %</td>
                        <td>59 %</td>
                    </tr>
                </table>
                <p align="center">
                    <em>Kilde: Aarhus Universitet</em>
                </p>
            </div>

</header>


<br>
<br>
<section id="forside_grid">


</section>

<footer>
    <div id="footer_info">
        <div class="footer">

            <a href="tel:+4570123456">Telefon</a>
        </div>

        <div class="footer">

            <a href="mailto:wiseguys@mob.dk">Email</a>
        </div>

    </div>
  </footer>


<script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>
</body>
</html>
