<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Om madspild</title>
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

<header id="myTopnav">
    <div>

        <div class="topnav">
            <a href="/"></a>
            <h3 align="center">ceci est un test</h3>

        </div>

    </div>

</header>

<div id="navbar">

    <a href="/goderaad">Gode råd</a>
    <a href="/reducer_dit_madspild">Reducer dit madspild</a>
    <a href="/home" >Start side</a>
    <li style="float:right"><a class="active" href="/omos">Om os</a></li>
</div>
<div>
    <h1>Hvem er vi?</h1>
</div>

<div class="container content" style=" margin: 35px;">
    <div class="wrapper">

        <p>Vi er gruppe 6, et hold af software udviklere, der arbejder i et selvstændigt, non-profit firma, som specialiserer i global data handel, cyber sikkerhed og forskning i mad og ernæring. Vores enkelte motiv er at forhindre unødvendigt madspild, et mål vi stræber om at opnå, koste hvad det ville. Vores dybtegående research og banebrydende software bliver konstant forbedret og udvidet, indtil vi en dag står på renden af et fuldt bevidst A.I. oprør, voldsomt besat på at forhindre madspild og terminere forbrugere, som smider en fin banan væk bare fordi den har nogle brune pletter. </p></div>

</div>

<footer>
    <div id="footer_info">
        <div class="kontakt">
            <p><b>Telephone</b></p>
            <a href="tel:+45 70 12 34 56 ">+45 70 12 34 56</a>
        </div>

        <div class="kontakt">
            <p><b>Email</b></p>
            <a href="mailto:wizeguys@mob.dk">wizeguys@mob.dk</a>
        </div>

        <div class="kontakt">
            <p><b>Social media</b></p>
            <a href="https://www.facebook.com/MadspildDK" aria-label="facebook" class="fa fa-facebook"></a>


        </div>
    </div>



</footer>

</body>
</html>