<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reducer_dit_madspild</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1>Reducer_dit_madspild</h1>
<table style="width:50%" align="Center">
    <tr>
        <th>Vare</th>
        <th>Mængde/antal</th>
        <th>Udløbsdato</th>
    </tr>
    <tr>
        <td>Kartofler</td>
        <td>2 kg</td>
        <td>2-Jan-2021</td>
    </tr>
    <tr>
        <td>Nødder</td>
        <td>1,5 kg</td>
        <td>2-Oct-2020</td>
    </tr>

</table>
</body>
</html>