<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>reducer_dit_madspild</title>
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
<header id="myTopnav">
    <div>

        <div class="topnav">
            <a href="/"></a>


        </div>

    </div>

</header>
<div id="navbar">

    <a href="/goderaad">Gode Råd</a>
    <a href="/numbers" >Relevante tal</a>
    <a href="/home">Startside</a>
    <li style="float:right"><a class="active" href="/omos">Om os</a></li>
</div>
<h1>Reducer_dit_madspild</h1>
<h4>Her som forklaring om tabellen:</h4>
<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae

    nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
<table style="width:50%" align="Center">
    <thead>
        <tr>
            <th>Vare</th>
            <th>Mængde/antal</th>
            <th>Udløbsdato</th>
        </tr>
    </thead>

    <tbody>
    <tr th:each="mad : ${mad}">
        <td><span th:text="${mad.madNavn}"> Title </span></td>
        <td><span th:text="${mad.amount}"> Amount </span></td>
        <td><span th:text="${mad.expireDate}"> Expiredate </span></td>
    </tr>

    </tbody>




</table>

<-- tabel er tilføjet VIRKER IKKE-->
<table>
<br>
    <form method="post">
        <input type="text" name="addVare"/>
        <input type="text" name="addAmount"/>
        <input type="text" name="addExpireDate"/>
        <input type="submit" value="Tilføj ny vare">

    </form>

</table>
<section id="forside_grid">

</section>

<footer>
    <div id="footer_info">
        <div class="kontakt">
            <p><b>Telephone</b></p>
            <a href="tel:+45 70 12 34 56 ">+45 70 12 34 56</a>
        </div>

        <div class="kontakt">
            <p><b>Email</b></p>
            <a href="mailto:wizeguys@mob.dk">wizeguys@mob.dk</a>
        </div>

    </div>


</footer>

<script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>
</body>
</html>