<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Om os</title>
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>
<body>

<header id="myTopnav">
    <div>
        <div class="topnav">
            <a href="/"></a>
            <a href="/home">Home</a>
            <a href="/advices">Good to know</a>
            <a href="/advice2">Good to know too</a>
            <a href="/numbers">Some relevants numbers</a>
            <a href="/omos">About Us</a>
            <a href="javascript:void(0);" class="icon" onclick="burgerMenu()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
            <div id="border_header">
                <hr>
            </div>
        </div>

</header>
<div id="welcome_text">
    <h1>About us</h1>
</div>

<section id="splash_forside"></section>

<h1 class="overskrift">Who are we?</h1>

<p>
    We are a team of expert software developers working in an independent non-profit organization specializing in global data assembly, national security and nutritional contingency research. Our sole motivation is to stop needless food waste, a goal which we will stop at nothing to reach - our meticulous research and high end software is constantly being improved and expanded upon, progressed to the verge of a fully sentient A.I. uprising, hell bent on preventing needless waste with impunity and terminating consumers who would throw away a perfectly edible banana because it has brown spots. </p>

<footer>
    <div id="footer_info">
        <div class="kontakt">
            <p><b>Telephone</b></p>
            <a href="tel:+45 70 12 34 56 ">+45 70 12 34 56</a>
        </div>

        <div class="kontakt">
            <p><b>Email</b></p>
            <a href="mailto:wizeguys@mob.dk">wizeguys@mob.dk</a>
        </div>

        <div class="kontakt">
            <p><b>Social media</b></p>
            <a href="https://www.facebook.com/MadspildDK" aria-label="facebook" class="fa fa-facebook"></a>


        </div>
    </div>



</footer>

</body>
</html>